src/main/java/mypackage/HelloWorld7.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="EmployeeServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:9000/HelloWorld?xsd=1"/>
</xsd:schema>
</types>
<message name="getListEmloyees">
<part name="parameters" element="tns:getListEmloyees"/>
</message>
<message name="getListEmloyeesResponse">
<part name="parameters" element="tns:getListEmloyeesResponse"/>
</message>
<message name="createEmployee">
<part name="parameters" element="tns:createEmployee"/>
</message>
<message name="createEmployeeResponse">
<part name="parameters" element="tns:createEmployeeResponse"/>
</message>
<message name="editEmployee">
<part name="parameters" element="tns:editEmployee"/>
</message>
<message name="editEmployeeResponse">
<part name="parameters" element="tns:editEmployeeResponse"/>
</message>
<message name="getById">
<part name="parameters" element="tns:getById"/>
</message>
<message name="getByIdResponse">
<part name="parameters" element="tns:getByIdResponse"/>
</message>
<portType name="EmployeeService">
<operation name="getListEmloyees">
<input wsam:Action="http://service/EmployeeService/getListEmloyeesRequest" message="tns:getListEmloyees"/>
<output wsam:Action="http://service/EmployeeService/getListEmloyeesResponse" message="tns:getListEmloyeesResponse"/>
</operation>
<operation name="createEmployee">
<input wsam:Action="http://service/EmployeeService/createEmployeeRequest" message="tns:createEmployee"/>
<output wsam:Action="http://service/EmployeeService/createEmployeeResponse" message="tns:createEmployeeResponse"/>
</operation>
<operation name="editEmployee">
<input wsam:Action="http://service/EmployeeService/editEmployeeRequest" message="tns:editEmployee"/>
<output wsam:Action="http://service/EmployeeService/editEmployeeResponse" message="tns:editEmployeeResponse"/>
</operation>
<operation name="getById">
<input wsam:Action="http://service/EmployeeService/getByIdRequest" message="tns:getById"/>
<output wsam:Action="http://service/EmployeeService/getByIdResponse" message="tns:getByIdResponse"/>
</operation>
</portType>
<binding name="EmployeeServicePortBinding" type="tns:EmployeeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getListEmloyees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmployeeServiceService">
<port name="EmployeeServicePort" binding="tns:EmployeeServicePortBinding">
<soap:address location="http://localhost:9000/HelloWorld"/>
</port>
</service>
</definitions>